<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-3">
            <img src="<%= product.image%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= product.title%></h5>
                <p class="card-text"><%= product.description%></p>
            </div>
            <ul class="list-group list-group-flush">
               
                <li class="list-group-item">Base Price: <%= product.price%></li>
                <li class="list-group-item">Start: <%= product.startTime.toLocaleString() %>  ||  End: <%= product.endTime.toLocaleString() %></li>
            </ul>
            <div class="card-body" >

                <% if(currentUser && product.owner.equals(currentUser._id)){ %> 
                    <% if(Date.now()>=product.startTime) { %>
                <a class="card-link btn btn-info disabled" href="/products/<%=product._id%>/edit">Edit</a>
                <form class="d-inline" action="/products/<%=product._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger" disabled>Delete</button>
                </form>
                   <% } else { %> 

                    <a class="card-link btn btn-info" href="/products/<%=product._id%>/edit">Edit</a>
                <form class="d-inline" action="/products/<%=product._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                    <% } %> 
                <% } %> 
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Share
                  </button>
                  
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Share On</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              ...
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                          </div>
                        </div>
                      </div>
                  
            </div>
            <div class="card-footer text-muted">
                      Item Added by @<%=product.owner.username %> 
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <% if(currentUser && Date.now()>=product.startTime &&Date.now()<=product.endTime ){ %> 
        <form action="/products/<%= product._id %>/biddings" method="POST" novalidate class="validated-form">
        <div class="row mb-3">
            <div class="col-6">
                <input class="form-control" placeholder="Enter Bid" type="number" min="<%= product.lastbid+1%>" id="price" name="bidding[price]" required>
                <div class="invalid-feedback">
                    Please enter a valid Bid.
                  </div>
            </div>
            
            <div class="col-3">
                   
                <button class="btn btn-success" type="submit">Enter</button>
            </div>
                
           
        </div>
    </form>
    <% } else { %> 

        <form action="/products/<%= product._id %>/biddings" method="POST" novalidate class="validated-form">
            <div class="row mb-3">
                <div class="col-6">
                    <input class="form-control" placeholder="Restricted" type="number" min="<%= product.lastbid+1%>" id="price" name="bidding[price]" readonly required>
                    <div class="invalid-feedback">
                        Please enter a valid Bid.
                      </div>
                </div>
                
                <div class="col-3">
                       
                    <button class="btn btn-success" disabled type="submit">Enter</button>
                </div>
                    
               
            </div>
        </form>
        <% } %> 

    <% let bid=product.biddings %>
    <% for(let i = bid.length - 1; i>=0; i--){ %>

    <div class="card">
        <div class="card-body">
            <h6><%= bid[i].owner.username %>: <%= bid[i].price %></h6>
        </div>
        
    </div>
    <% }%>
    </div>
</div>
    
    <footer>
        <a href="/products">All product</a>
    </footer>
